html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    background-color: rgb(163, 94, 82);
}

#titulo_secundario{
    color: rgb(201, 107, 0);
    max-width: 30vh;
}


footer{
    padding: 20px;
    background-color: rgb(95, 27, 27);
    margin-top: auto;
}
.boton {
    display: flex;
    justify-content: center;
  }

.navbar {
    margin-bottom: 20px;
  }
